#This file contain a parametres of site for promoting. 
#Fields keywords, user_agents - fill without spaces between tags


#доменное имя
domain_name=progreso.com.ua

#количество запросов к сайту
rqst_quantity=3 

#доля прямых переходов
perct_of_drefer=100 

#среднее время нахождения на странице в секундах
aver_page_tm=60

#количество ссылок по которым будем скакать
deep_in_site=4

#нужно ли обновлять базу со ссылками
update_links=0

#количество потоков для одновременного запуска браузера
threads=3

#минимальный предел
interval_low_lim=30

#максимальный предел
interval_upper_lim=60

#ключевые слова
<keywords>
вальс с Баширом
цельнометаллический апокалипсис
осиная фабрика
GOOD VERSE MAILER
не дай себе засохнуть
силиконовая долина
трилогия о мести
миг правосудия
поезд
странные дни
</keywords>


#поля user_agents
<user_agents>
Mozilla/5.0 (Windows NT 6.1; WOW64; rv:40.0) Gecko/20100101 Firefox/40.1
Mozilla/5.0 (X11; Linux i586; rv:31.0) Gecko/20100101 Firefox/31.0
Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:49.0) Gecko/20100101 Firefox/49.0
Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.1; Trident/6.0)
Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; AS; rv:11.0) like Gecko
Opera/12.0(Windows NT 5.2;U;en)Presto/22.9.168 Version/12.00
Opera/12.0(Windows NT 5.2;U;en)Presto/22.9.168 Version/12.00
Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10.6; en-US; rv:1.9.2.13; ) Gecko/20101203
</user_agents>



